root = true

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_between_query_expression_clauses = true

# Ignore unused assignment errors
# dotnet_diagnostic.IDE0058.severity = none
# dotnet_diagnostic.IDE0059.severity = none
# Disable errors about "new/Object initialization can be simplified"
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0017.severity = none
